{% include 'header.html.twig' %}
    <main>
            <form action="/kacperhinz4gp/logowanie/login" method="post">
  
                <input type="email" name="email" id="email" placeholder="email" required>


                <input type="password" name="password" id="password" placeholder="haslo" required>

                <input type="submit" value="Zaloguj">
                <a href="/kacperhinz4gp/logowanie/register">Nie masz konta?</a>

                <p style="color: red;">{{message}}</p>
    </main>
{% include 'footer.html.twig' %}