{% include 'header.html.twig' %}
    <main>
        <form action="/kacperhinz4gp/logowanie/register" method="post">
            <input type="email" name="email" id="email" placeholder="email" required>
 
            <input type="password" name="password" id="password" placeholder="haslo" required>

            <input type="text" name="imie" id="imie" placeholder="imie" required>

            <input type="text" name="nazwisko" id="nazwisko" placeholder="nazwisko" required>

            <input type="text" name="nick" id="nick" placeholder="nick" required>

            <input type="submit" value="Zarejestruj">
            <a href="/kacperhinz4gp/logowanie/login">Masz juz konto?</a>

            <p style="color: red;">{{message}}</p>
    </main>
{% include 'footer.html.twig' %}